//---------------------------------Variables----------------------------------\\
// Font Weights
$ultra-light-font: 100;
$light-font: 200;
$demi-font: 300;
$regular-font: 400;
$medium-font: 500;
$demi-bold-font: 600;
$bold-font: 700;
$extra-bold-font: 800;
$ultra-bold-font: 900;


//-------------------------------Common Elements------------------------------\\

// Keep this at the highest level so any below identifiers can overwrite the
//  color.
span, header, h1, h2, h3, h4, h5, h6, input, td, th, .button {
    color: #3d3935;
    font-family: Avenir Next, Lato Sans, Helvetica;
}

h1, h2, h3, h4, h5, h6, header {
    margin: 0;
}

header, h1, h2, h3, h4, th, .button {
    font-weight: $demi-bold-font;
}

h5, h6, input, td, span {
    font-weight: $medium-font;
}

.button {
    min-width: 80px;
    min-height: 25px;
    line-height: 15px;
    font-size: 12px;
    box-sizing: border-box;
    border: 5px solid #4a4540;
    @include border-radius(3px);
    background-color: #4a4540;
    color: #e6e0db;

    &:hover {
        background-color: #33302c;
        border-color: #4a4540;
    }

    &:active {
        color: #898076;
    }

    &.inactive {
        @include opacity(0.25);
    }
}

.form-container {
    background-color: #006341;
    @include border-radius(5px);
}

.icon {
    height: 40px;
    width: 40px;
}
