<div class="login-page">
    <div class="header">
        <div class="icon logo"></div>
        <span class="label" ng-bind="mockHeaderLabel"></span>
    </div>
    <div class="login-page-form">
        <span class="label" ng-bind="mockHeaderLabel"></span>
        <input type="text" class="login-page-input" ng-model="inputValues.username" placeholder="Username"></input>
        <input type="text" class="login-page-input" ng-model="inputValues.password" placeholder="Password"></input>
        <span class="label error-label" ng-bind="errorMessage" ng-class="{'active': displayErrorMessage}"></span>
        <div class="button" ng-click="submitLogin();">Submit</div>
    </div>
</div>
